# Dependencies
frontend/node_modules/
backend/venv/

# Build output
frontend/dist/
**/__pycache__/
*.pyc

# Local databases
*.db
*.sqlite3

# Secrets
.env
backend/.env

# OS / IDE
.DS_Store
Thumbs.db
.vscode/

pipeline/update_env.ps1
pipeline/*.log
pipeline/local.settings.json

client_secret.json

SET_AZURE_ENV_VARS.ps1
youtube_credentials.txt
